In [1]:
import pandas as pd

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('Sales.SpecialOfferProduct.csv', sep=';')
df.head()

,SpecialOfferID,ProductID,rowguid,ModifiedDate
0,1,680,BB30B868-D86C-4557-8DB2-4B2D0A83A0FB,2011-04-01 00:00:00.000
1,1,706,B3C9A4B1-2AE6-4CBA-B552-1F206C9F4C1F,2011-04-01 00:00:00.000
2,1,707,27B711FE-0B77-4EA4-AD1A-7C239956BEF4,2011-04-01 00:00:00.000
3,1,708,46CBB78B-246E-4D69-9BD6-E521277C1078,2011-04-01 00:00:00.000
4,1,709,CF102AA0-055F-4D2B-8B98-04B161758EA8,2011-04-01 00:00:00.000

In [3]:
# Check duplicates in primary key
df['ProductID'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
533     True
534     True
535     True
536     True
537     True
Name: ProductID, Length: 538, dtype: bool

In [4]:
column_to_check = 'ProductID'
df_without_duplicates = df.drop_duplicates(subset=column_to_check, keep='first')

In [5]:
df_without_duplicates.to_csv('SpecialOfferProduct.csv', index=False)